/* #3849a2, #b50132 */

/* F89B1C, #FDB716, #FFC767, #ED8213 */

/* Start main styles */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 0;
    padding: 1.5rem;
    font-size: .75rem;
}

h1{
    margin-bottom: 1.5rem;
    color: #3849a2;
}

/* End main styles */

/* Start popup navigation styles */

.popup-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: #3849a2 2px solid;
}

.nav-tab {
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: all ease .3s;
}

.nav-tab:hover {
    font-weight: bold;
    color: #3849a2;
}

.nav-tab--active {
    background-color: #3849a2;
    font-weight: bold;
    color: #fff;
}       

.nav-tab--active:hover {
    color: #fff;
}

.popup-content {    
    display: none;
}    

.popup-content--active {    
    display: block;
}

/* End popup navigation styles */

/* Start popup open tab content styles */

.group-container {
    margin-bottom: 1.5rem;
}

.group-container .group-title {
    width: max-content;
    padding: .5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #cccccc;
    font-size: 1.2em;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.tabs-container {
    border: #cccccc 2px solid;
    border-radius: 5px;
    border-top-left-radius: 0px;
    overflow: hidden;
    padding: .75rem;
}


.tab {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

.tab:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.tab:hover .tab-title{
    text-decoration: underline;
}

.tab:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
} 

.chrome-group .tab:last-of-type{
    border-bottom: 2px solid #cccccc;
    margin-bottom: 8px;
}

.title-container{
    display: flex;
}

.tab-title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.tab-time {
    font-size: 0.9em;
    color: #888888;
    margin: 5px 0;
}

.btns-container{
    display: flex;
    justify-content: flex-end;
}

.pin-button,
.close-button,
.mute-button,
.sleep-button,
.collapse-expand-button,
.collapse-expand-arrow {
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
    transition: all ease .2s;
}

.active-tab .tab-title::after{
    content: ' (ActiveTab)';
    color: #ED8213;
}

.pin-button:hover,
.close-button:hover,
.mute-button:hover,
.sleep-button:hover{
    transform: scale(1.2);
}

.pin-button:active,
.close-button:active,
.mute-button:active,
.sleep-button:active {
    transform: scale(1);
}

.collapse-expand-button:active {
    transform: scale(.8);
}

.ungroup-button, .close-group-button{
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #f44336;
    font-weight: bold;
    border: #f44336 2px solid;
    background: none;
    transition: all ease .2s;
}

.ungroup-button:hover, .close-group-button {
    background-color: #f44336;
    color: #fff;
}

.ungroup-button:hover, .close-group-button:hover {
    transform: scale(1.1);
}

.ungroup-button:active, .close-group-button:active {
    transform: scale(1);
}

.button-container {
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-end;
    gap: 1rem;
}

/* End popup open tab content styles */

/* Start popup auto grouping content styles */
/* Styles for the checkbox */

.checkboxWrapper {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.buttonWrapper{
    display: flex;
}

#autoGroupContent label {
font-weight: bold;
}

#formContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 1.5rem;
}
  
  #autoGroupContent input[type="text"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #colorPicker {
    margin-bottom: 10px;
  }
  
  #colorPicker div {
    cursor: pointer;
  }
  
  button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style the saved groups list */
  #savedGroupsList {
    list-style-type: none;
    padding: 0;
  }
  
  #savedGroupsList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #savedGroupsList li button {
    margin-left: 10px;
  }
  
/* End popup auto grouping content styles */

/* Start options section styles */

.option-container {
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f9f9f9; /* Light background for options */
    transition: background-color 0.3s ease;
}

.option-container:last-of-type {
    margin-bottom: 0;
}

.option-container:hover {
    background-color: #f0f0f0; /* Slightly darker on hover */
}

.option-description {
    font-size: 0.9rem;
    color: #666; /* Slightly muted text color */
    margin-top: 0.5rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.time-settings {
    margin-top: 0.5rem;
}

input[type="number"] {
    width: 50px;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

#optionsContent .editTimeBtn, .submitTimeBtn {
    
}

/* End options section styles */


/* Dark mode styles */






